
body{

	margin-left: 2%;
	margin-top: 3%;
	margin-right: 0;
	width: 95%;
	background-color: white;
 
}

.header{
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid grey;

}	

.header img {
	width: 15%;
	height: 50%;
	padding-bottom: 2%;
	padding-right: 2%;
}

.header span{
	font-weight: normal;
	font-size: 5rem;
	margin-top: 5%;
	font-family: Helvetica,'Arial', sans-serif;
}
#hamburger-menu{
	display: none;
}


#title{
	margin-top: 3%;
	margin-left: 5%;
	font-family: Helvetica,'Arial', sans-serif;
	font-size: 4rem;

}
.items{
	margin-top: 1%;
	opacity: 0.7;
	display: flex;
	justify-content: space-around;
	font-family: Helvetica,'Arial', sans-serif;
}

.body-container{
	margin-top: 2%;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;

}

.body-container img{
	z-index: 1;
	position: relative;
	height: 65vh;

}
#main-image-caption {

	position: relative;
	width: 100%;
	height: 8rem;
	margin-top: -4%;
	background: white;
	opacity: 1;
	font-family: Helvetica,'Arial', sans-serif;
	z-index: 2;
	bottom: 6em;
}

.wall-image{
	position: relative;
}

#main-image-caption h3{
	margin-left: 2%;
	padding-top: 2%;
	opacity: 0.7;
	
}

#main-image-caption p {
	margin-left: 2%;
	padding-top: 2%;
	opacity: 0.7;
	margin-top: -2.5%;
	font-size: 100%;
	
}
/*top news */
#top-news {
	margin-top: -7em;
	width: 97%;
	margin-left: 2%;
	position: relative;
}

#top-news-heading {
	font-family: Helvetica,'Arial', sans-serif;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid grey;
	opacity: 0.5;
}

#top-news-heading h4 {
	margin-left: auto;
	margin-right: 2%;
}


#top-news p {
	list-style: none;
	margin-left: 0;
	line-height: 1;
	opacity: 0.7;
	color: black;
}


/*weather image*/

#weather-container {
	position: relative;
	margin-left: 2%;
	font-family: Helvetica,'Arial', sans-serif;
	flex-direction: column;

}
#weather-container h2{
	opacity: 0.7;
}
#today-weather {
	display: flex;
	flex-direction: row;
}

#today-weather img {
	height: 90%;
	width: 20%;
	margin-left: 2%;
	position: relative;
}
#today-weather h1 {
	margin-top: 4%;
	opacity: 0.7;
}

#week-name {
	position: relative;
	margin-top: 1%;
	display: flex;
	justify-content: space-around;
	font-family: Helvetica,'Arial', sans-serif;
}

#week-image {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 2%;
	
}
#week-image img {
	height: 35%;
	width: 15%;
	position: relative;
}

#week-temp {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 2%;
}


/* latest news*/
#latest-news-heading {
	font-family: Helvetica,'Arial', sans-serif;
	display: flex;
	margin-left: 2%;
	flex-direction: row;
	border-bottom: 2px solid grey;
	opacity: 0.7;
}

#latest-news-heading h4 {
	margin-left: auto;
	margin-right: 3%;
}

.latest-news-container {
	display: flex;
	flex-direction: column;
	margin-top: 1%;
	margin-left: 2%;
	font-family: Helvetica,'Arial', sans-serif;
}
.latest-news-container p{
	opacity: 0.7;
}

.latest-news-container span {
	font-weight: bold;
	opacity: 0.8;
	font-size: 1rem;
	font-family: Helvetica,'Arial', sans-serif;
}


.latest-news-container img {
	position: relative;
	margin-right: 1%;
	opacity: 1;
}

/*score score-table*/
.score-table{
	margin-left: 2%;
}
.score-table th{
	opacity: 0.5;
	text-align: center;
}

.score-table tr td:nth-child(1){
	text-align: left;
}

.score-table td{
	text-align: center;
	font-family: Helvetica,'Arial', sans-serif;
}

.score-table tr{
	line-height: 2.3;
	opacity: 0.7;
}

.footer{
	margin-top: 1%;
	display: flex;
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: Helvetica,'Arial', sans-serif;
	box-shadow: 10px 5px 20px grey;
}
.footer a{
	margin-left: 4%;
}
/* for ipad or tab application*/
@media  screen and (max-device-width: 992px ){
	.header span{
		font-weight: lighter;
		font-size: 3rem;
		margin-top: 5%;
		font-family: Helvetica,'Arial', sans-serif;
	}
	

#hamburger-menu{
	display: none;
}

.body-container{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;

}
#wall-image{
	order: 1;
	grid-column-start: 1;
	grid-row-start: 1;
	width: 100%;
	position: relative;
}

#main-image-caption p {
	margin-left: 2%;
	
	opacity: 0.7;
	position: relative;
	color: white;
	margin-left: 4.5%;
	opacity: 1;
	font-size: 85%;
	
}

#main-image-caption h3 {
	position: relative;
	padding-bottom: 1%;
	font-size: 95%;
	
}

.body-container img{
	z-index: 1;
	position: relative;
	height: 45vh;

}
#main-image-caption {
	position: relative;
	width: 100%;
	background: black;
	opacity: 0.8;
	font-family: Helvetica,'Arial', sans-serif;
	z-index: 2;
	bottom: 6em;
}

.wall-image {
	position: relative;
}


#main-image-caption h3 {
	color: white;
	margin-left: 4.5%;
	opacity: 1;
}

#weather-container{
	position: relative;
	height: 100%;
	margin-left: 5%;
	width: 100%;
	order: 2;
	grid-column-start: 2;
	grid-row-start: 1;
	bottom: 1em;
	
}

#top-news{
	order:3;
	grid-column-start: 1;
	grid-row-start: 2;
	grid-column-end: 3;
	width: 100%;
}
.score-table{
	order:4;
	grid-column-start: 1;
	grid-row-start: 3;
	grid-column-end: 3;
	width: 100%;
}

.score-table th{
	background: #B2D3EF;
	color: white;
}
.score-table tr:nth-child(odd){
	background: #D6DFE6;
}

#latest-news{
	order:5;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	width: 100%;
}
}

/*for mobile application*/
@media  screen and (max-device-width: 768px ){

.header img {
	width: 15%;
	height: 50%;
	padding-bottom: 2%;
}

.header span{
	font-weight: lighter;
	font-size: 1.5rem;
	margin-top: 7%;

	font-family: Helvetica,'Arial', sans-serif;
}

#hamburger-menu{
	margin-left: auto;
	margin-top: 6%;
	height: 3rem;
	width: 2rem;
	display: block;

}

.items{
	display: none;
}

.body-container{
	display: flex;
	flex-direction: column;

}

#wall-image{
	order: 1;
	width: 100%;
	position: relative;	
}

.body-container img{
	z-index: 1;
	position: relative;
	height: 40vh;

}

#main-image-caption{
	
	position: relative;
	width: 100%;
	background: black;
	opacity: 0.8;
	font-family: Helvetica,'Arial', sans-serif;
	z-index: 2;
	bottom: 6.5rem;
}

#main-image-caption h3{
	color: white;
	padding-bottom: 3%;
	margin-left: 2%;
}

#main-image-caption p{
	color: white;
	margin-left: 2%;
	font-size: 85%;
}

#top-news{
	order:2;
	
	width: 100%;
}
.score-table{
	order:3;
	
	width: 100%;
}

.score-table th{
	background: #B2D3EF;
	color: white;
}
.score-table tr:nth-child(odd){
	background: #D6DFE6;
}

#weather-container{

	order: 4;
	margin-left: 2%;
	
}

#latest-news{
	order:5;
	width: 100%;
	font-size: 75%;

}
#latest-news span{
	order:5;
	width: 100%;
	font-size: 100%;
}
}
